<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/about.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{>headers}}
             <p>This site used data from mapbox.com and weatherapi.com!</p>
             <p> Important Weather Conditions:</p>
            <img class="portrait" src="/img/697bfb9e38050677880e8db0d577a0a4.jpg">
         
        </div>

        {{>footer}}
    </body>
</html>