<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/help.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             {{>headers}}
            <p>{{helpText}}</p>
        </div>
         {{>footer}}
    </body>
</html>