<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather2.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content"> 
             {{>headers}}
            <p>{{text}}</p>
            <form>
                <input placeholder="Location">
                <button>Search</buttion>
            </form>               
        </div>
        {{!-- <div>
            <a id="message-3" href="messageThree"></a>
        </div> --}}
    
         <p id="message-1"></p>
            <p id="message-2"></p>
       {{>footer}}
        <script src="/js/app.js"></script>
       
    </body>
</html>